body {
    background: #f4f4f4
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 40px;
   padding: 5px;
}

.background-footer {
    background: #212529;
    text-align: center;
}

.text-footer {
    color: #db0b0b;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
