<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Data Migration</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
                <input type="submit" value="Start" class="btn btn-success" name="btn-migrate">
        </form>
      </div>
      <div class="progress modal-progress-bar" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
      </div>
      {% if btn_migrate_flag %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{{ url_for('show_data') }}"><button type="button" class="btn btn-primary">View Data</button></a>
      </div>
      {% else %}
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disabled>View Data Disabled</button>
      </div>
      {% endif %}
      </div>
  </div>
</div>

<!-- JS for Modal -->
{% block script %}
    <script>

        $(document).ready(function (){
            $("#exampleModal").modal("show")
        })

    </script>
{% endblock %}
